<div routerLinkActive="active" class="desktop-only" style="position: relative">
  <div class="nav-item">
    <button mat-flat-button color="primary" [routerLink]="item.routerLink">
      <a class="dropdown-toggle" id="dropdownMenuLink" role="button">{{ item.text }}</a>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <ng-container *ngFor="let childItem of item.children; trackBy: trackByItem">
        <li *ngIf="!childItem.hide">
          <button class="dropdown-item nav-item"
                  [routerLink]="[item.routerLink, childItem.routerLink]"
                  mat-button
                  color="primary"
                  routerLinkActive="active">
            {{ childItem.text }}
            <mat-divider color="warn"></mat-divider>
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
