@use '@angular/material' as mat;
@include mat.core();
@import "style/colors";


$card-score-primary: mat.define-palette(mat.$teal-palette, 400);
$card-score-secondary: mat.define-palette($lavender-palette, 200);
$card-score-warn: mat.define-palette(mat.$red-palette);

$card-score-theme: mat.define-light-theme(
    (
      color: (
        primary: $card-score-primary,
        accent: $card-score-secondary,
        warn: $card-score-warn
      )
    )
);

@include mat.all-component-themes($card-score-theme);

.main-dashboard .main-container .main-content-area .main-outlet {
  max-width: unset;
  margin-left: 40px;
  margin-right: 40px;
}

body {
  background: $color-dark-green;
  font-size: 18px;
  color: $color-text;
  font-family: "Comic Sans MS", serif;
}

a {
  &:hover {

  }

  &:visited {

  }
}

.link-icon {
  display: inline-flex;
  text-decoration: none;

  span {
    text-decoration: underline;
  }

  .ti {
    font-size: 24px;
  }

  &:hover {
    font-weight: normal;

    span {
      text-decoration: none;
    }
  }
}

.nav-item {
  cursor: pointer !important;
  text-decoration-line: none !important;
  padding: 16px;
  float: left;
  margin-left: 5px;

  a {
    text-decoration-line: none;

    &:hover, &.dropdown-item {
      font-weight: unset;
    }
  }
}

.navbar-hamburger {
  font-size: x-large;
  cursor: pointer;
}

.navbar-toggle {
  border-radius: 4px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}


.nav-tabs > .nav-item {
  cursor: default !important;
}

.main-dashboard {
  display: block;

  .side-panel-container {
    position: sticky;
    top: 0;
    align-self: flex-start;

    .nav-menu {
      .opened {
        &.in-flyout {
          color: #154c60;
        }

        .level-1 {
          color: #154c60;
          &:hover {
            background-color: aqua;
          }
        }
      }

      .nav-item {
        padding: 16px;
        border-bottom: 1px solid black;

        .nav-title {
          padding: 0;
        }

        &.level-2 {
          background-color: crimson;
        }

        &.level-3 {
          background-color: #6b637c;
        }

        &:hover {
          background-color: $color-dark-green;
          color: crimson;
        }
      }
    }
  }

  .nav-external-links-title {
    text-transform: uppercase;
    color: #FFF;
    padding: 16px;
    padding-top: 50px;
  }

  .main-container {
    .header-container {
      position: sticky;
      top: 0;
      z-index: 1100;

      .dashboard-header {

      }
    }

    .main-content-area {
      min-height: 100vh;
      padding-top: 32px;
    }

    .footer-container {
      margin-top: 48px;

      .dashboard-footer {
        padding: 48px 80px;

      }
    }
  }
}

.tab-container {
  .nav-tabs {
    margin-bottom: 24px;

    .nav-item {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      a {
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 0.075em;

        &.active {

          &.focus {
            outline: 1px solid black;
          }
        }

        &:hover {

        }

        &:focus {

        }
      }

      &.important {
        a {
          color: red;

          &.active {
            color: red;
            border-color: red;

            &:focus {
              border-color: red;
              color: red;
            }
          }
        }
      }
    }
  }
}

.btn {
  &.btn-primary {
    //szinek

    &:focus {

    }

    &:hover {

    }

    &:active {

      &:focus {

      }
    }
  }

  &.btn-secondary {


    &:focus {

    }

    &:hover {

    }

    &:active {

      &:focus {

      }
    }
  }

  &.btn-tab {

    &:hover {

    }

    &.active {

    }
  }

  &.btn-sm {
    line-height: 17px;
  }
}


.flex-list {
  list-style-type: none;

  .head {
    text-indent: 145px;
    font-weight: bold;
  }

  li {
    display: flex;
    margin-bottom: 8px;
  }

  .title {
    width: 164px;
    min-width: 164px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }

  .value {
    margin-left: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}

.inline-list {
  .title {
    display: block;
    font-size: 12px;
  }

  .value {
    font-size: 28px;
  }
}

.flex-row-gap {
  row-gap: 10px;
}

.flex-column-gap {
  column-gap: 10px;
}

.flex-gap {
  gap: 10px;
}

.form-control {
  font-size: inherit !important;
  border-radius: 4px;
}

.sticky {
  &-right {
    position: sticky;
    right: 0;
    z-index: 1;
  }

  &-left {
    position: sticky;
    left: 0;
    z-index: 1;
  }
}

.language-wrapper {
  min-width: 30%;
  border-radius: 10px;
  cursor: pointer;
  .selected-language {
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
      background-color: $color-background-hover;
    }
  }
  .lang-select-item {
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
      padding-left: 16px;
      padding-right: 16px;
      background-color: $color-background-hover;
    }
    &:active {
      padding-left: 16px;
      padding-right: 16px;
      background-color: $color-teal-400;
    }
  }
}


.desktop-only {
  .nav-item .dropdown-menu {
    display: none;
    margin-top: 0;
  }
  .nav-item:hover .dropdown-menu {
    padding-top: 5px;
    display: block;
    background-color: $color-background-hover;
    border-radius: 20px;
    inset: 100% auto auto 0px;
    transform: translateY(0px);
    color: $color-teal-400;
  }
}

.header-control {
  display: flex;
  float: right;
}

.bot-padding-20 {
  padding-bottom: 20px;
}

mat-card-header, mat-card-content, mat-card-actions {
  background-color: $color-teal-400;
}

.header-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 50%
}

mat-option {
  background-color: $color-teal-400;

  &:hover {
    background-color: $color-teal-400;
  }
}
